@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;

  margin: 0;
  padding: 0;

  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

#__next {
  box-sizing: border-box;

  height: 100%;
  width: 100%;
}

table {
  border-spacing: 0;
}

tbody > tr {
  border-radius: 3px;
}

tbody > tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

th {
  padding: 0 0 10px;
}

td {
  padding: 5px;
}

th:first-child,
td:first-child {
  width: 40%;
}

th:last-child,
td:last-child {
  width: 60%;
}