.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.content {
  background-color: #eeeeee;
  border-radius: 6px;

  max-width: 800px;
  width: 100%;

  padding: 15px;
  text-align: left;
}