.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;

  max-width: 500px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;

  width: 100%;
}

.content {
  background-color: #eeeeee;
  border-radius: 6px;

  max-width: 500px;
  width: 100%;

  padding: 15px;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: end;

  padding: 25px;

  max-width: 500px;
  width: 100%;
}

.footer > button {
  margin-left: 10px;
}