.container {
    max-width: 500px;
}

.header {
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: auto;
    padding: 25px;

    max-width: 500px;
    width: 100%;
}

.form > div {
    margin-top: 7px;
}

.content > tbody {
    display: flex;
    flex-direction: column;

    max-height: 50vh;
    overflow-y: auto;

    width: 100%;
}

.content > thead {
    display: flex;
    width: 100%;
}

.content > thead > tr {
    display: flex;
    width: 100%;
}

.content > thead > tr > th:nth-child(1),
.content > tbody > tr > td:nth-child(1) {
    width: 55%;
}

.content > thead > tr > th:nth-child(2),
.content > tbody > tr > td:nth-child(2) {
    width: 55%;
}

.footer {
    display: flex;
    justify-content: flex-end;

    padding: 20px 0;

    max-width: 500px;
    width: 100%;
}

.footer > button {
    margin-left: 10px;
}

.validationText {
    color: #d40000;
    font-size: 0.875rem;
}
